<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive pricing table.">

    <title>Virtual Lab for Hindustani Music</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/pricing.css">

</head>
<body>



<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Music Labs</a>
    <ul>
            <li>
    {% if session.email %}
    {{ session.email }} 
    <li><a id="logout">Logout</a></li>
    {% else %}
    <a id="login">Login</a>
    {% endif %}
        </li>
        <li class="pure-menu-selected"><a href="#">About</a></li>
        <li><a href="experiments.html">Experiments</a></li>
        <li><a href="repository.html">Repository</a></li>
        <li><a href="contribute.html">Contribute</a></li>
        <li><a href="contact.html">Contact</a></li>
    
    </ul>
</div>


{% block content %}

{% endblock %}

<div class="banner">
    <h1 class="banner-head">
        Virtual Labs for Hindustani Music<br>
        Experiment with Musical Concepts
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>Experiments</h2>

                    <span class="pricing-table-price">
                        Play<span>With Musical Concepts</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Tone Identification</li>
                    <li>Rhythm Learning</li>
                    <li>Tabla Bols</li>
                    <li>Tune a Tanpura</li>
                    <li>Sing and Notate</li>
                </ul>

                <!--<button class="button-choose pure-button">Go</button>-->
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Repository</h2>

                    <span class="pricing-table-price">
                        Read<span>Resource Material</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Notated Compositions</li>
                    <li>Resources</li>
                    <li>Artists</li>
                    <li>Contribute Compositions</li>
                </ul>

                <!--<button class="button-choose pure-button">Go</button>-->
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>Contribute</h2>

                    <span class="pricing-table-price">
                        Add<span>Your own Work</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Annotate Snippets</li>
                    <li>Contribute Literature</li>
                    <li>Provide Links</li>

                </ul>

                <!--<button class="button-choose pure-button">Choose</button>-->
            </div>
        </div>
    </div> <!-- end pricing-tables -->

    <div class="information pure-g">
        <div class="pure-u-1 centering-div">
            <div class="l-box">
                <h3 class="information-head">About Us</h3>
                <p>
                This is the Virtual labs for music project hosted at IIIT Hyderabad. There are two objectives for this lab.  The first objective is to provide a repository of educational resources for learners of classical music,
                    which includes recordings, written commentaries on music and notated repertoire.  The second objective is to enable users to conduct interactive experiments that explore the form and function of Indian classical music.
                    <br>
                    This lab aims to be a repository for notated classical music. This would include renotating openly available material on classical music, and putting up old material that is still used as a reference and sung - online.
                    <br>Experimenting with musical Concepts:
                    <br>This section would include experiments that visitors can perform to experiment with musical ideas and enhance their knowledge and understanding of classical music.
                    <br>1.	Listener perspective
                    The appreciation of any musical genre is greatly enhanced by understanding. In this section there would be experiments to increase the understanding of musical form, notes, moods, and so on. This may be in the form of discrimination tasks, identification or memory tasks for small musical samples. The visitors would also be allowed to change some variables and experiment with the musical form.
                    <br>2.	Student perspective
                    For a student or a prospective performer, it is important to experiment with different con-cepts of composition. Creating a grammatical phrase in a raag, then an aesthetically pleasing phrase, and then recombination of phrases in an aesthetic manner - these are some examples of critical practice that a student has to undergo while studying music. We will create some experiments to enable users perform such practice easily through this lab.


                </p>
            </div>
        </div>

    </div> <!-- end information -->
</div> <!-- end l-content -->

<div class="footer l-box">
    <p>
        <a href="#"></a>
    </p>
</div>


</body>
    <script>
      window.M = window.M || {};
      M.loginURL = function() { return "{{ url_for('user_login') }}"; };
      M.logoutURL = function() { return "{{ url_for('user_logout') }}"; };
      M.loggedInUser = function() {
        return ("{{ session.email }}") ? "{{ session.email }}" : null;
      };
      window.onload = function() {
        M.init();
      };
    </script>

    <script src="https://login.persona.org/include.js"></script>
    <script src="{{ url_for('.static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/main.js') }}"></script>
</html>
