{% extends "layout.html" %}

{% block title %} Labs for Hindustani Music - Login or SignUp {% endblock %}

{% block head %}
  <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css">

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="main">
  <div class="header">
    <div class="pure-g">
      <div class="pure-u-1"> <h3> You have to login to continue </h3> </div>
    </div>

    <div class="content">
      <div class="pure-g">
        <div class="pure-u-1">
          <button onclick="ML.personaLogin(event);"
                  class="pure-button button-success button-xxlarge">Login</button>
        </div>
        <div class="pure-u-1-1"> <h3> or </h3> </div>
        <div class="pure-u-1">
          <button onclick="ML.personaLogin(event);"
                  class="pure-button button-secondary button-xxlarge">Register</button>
        </div>
        <div class="pure-u-1">using your GMail account.</div>
      </div>
      <aside style="background: #eee; color: #333; border-radius: 3px;
        margin-top: 75px;">
        <span><b>Help:</b></span>
        <span>Please enter your GMail id in the next popup window, to sign-in
        using your GMail account.<br>
        If you don't have a GMail account, use your existing email address and
        create a password to register.<br>
        Also, make sure you don't have popup blocker enabled.
        </span>
      </aside>

    </div>
</div>
{% endblock %}

{% block footer %}
<p>
  We use <a href="https://login.persona.org/about">Mozilla Persona</a>
  for identifying users.
</p>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    ML.personaLogin = function(event) {
      event.preventDefault();
      navigator.id.request();
      return false;
    }
  });
</script>
{% endblock %}
