{% extends "layout.html" %}

{% block title %} Raga DB - Virtual Lab for Hindustani Music {% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css">
    <style>
      #ragadb-container {
        height: 800px;
        width: 100%;
        border: 1px solid #eee;
      }
    </style>
{% endblock %}

{% block content %}

<div id="main">
  <div class="header">
    <div class="pure-g">
      <div class="pure-u-1"> <h1> Raga DB </h1> </div>
      <div class="pure-u-1"> <h3> Visualising the world of Raags </h3> </div>
    </div>
  </div>
</div>
<div id="ragadb-container"></div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/ragadb/sigma.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.parsers.gexf.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.animate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.dragNodes.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.neighborhoods.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/plugins/sigma.plugins.filter.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ragadb/main.js') }}"></script>
{% endblock %}

