{% extends "layout.html" %}

{% block title %} Experiment 6 {% endblock %}

{% block head %}

    <script src="{{ url_for('static', filename='js/expr7_pitchrow_v2.js')}}"></script>
    <style>
      .active a { color: black; }
      form.pure-form {
        margin: 20px 0;
      }
    </style>
{% endblock %}


{% block content %}


<div id="main">

<div class = "container">

    <div class = "left">

<a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a><!--/button-->
</div>


  <div class="header">
    <div class="pure-g">
      <div class="pure-u-1"> <h1> Svar from Phrase </h1> </div>
      <div class="pure-u-1"> <h3> Experiment 6</h3> </div>
    </div>

    <div class="content">
      <h2 class="content-subhead">Description</h2>
        <p>
          This experiment is similar to Experiment 5! By now you must have learnt note names! For this experiment you will need them - you will have to identify 3 tones played in succession.
        To play, click on "Play Drone". Listen carefully - that is your reference note. Click on "Play Tones" - this is your question.
        Choose an answer from the options - which notes do you these are? Then click submit.
        </p>
    </div>


      <aside style="background: #fff1ea; color:#111111">
             <h3 style="color: #111111">Question</h3>
    <div class="content">

      <form class="pure-form" name="swar">
        <h5>
          <label for="state">Choose Instrument</label>
            <select name="state" class="pure-input-2-3" id="instrument">
              <option value="santoor">Santoor</option>
              <option value="shehnai">Shehnai</option>
              <option value="harmonium">Harmonium</option>
              <option value="flute">Flute</option>
              <option value="sitar">Sitar</option>
            </select>
        </h5>
      </form>
    </div>

    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul id="level-selector">
        <li value="1"><a class="flip" href="#panel1">Level1</a></li>
        <li value="2"><a class="flip" href="#panel2">Level2</a></li>
        <li value="3"><a class="flip" href="#panel3">Level3</a></li>
        <li value="4"><a class="flip" href="#panel4">Level4</a></li>
        <li value="5"><a class="flip" href="#panel5">Level5</a></li>
      </ul>
    </div>
</aside>
    <div id="Container">
      <div id="layer">
        <div class="panel" id="panel1"></div>
        <div class="panel" id="panel2"></div>
        <div class="panel" id="panel3"></div>
        <div class="panel" id="panel4"></div>
        <div class="panel" id="panel5"></div>

{#        <div style="margin: 40px 0;">#}
{#          <a class="pure-button button-xlarge" href="{{url_for('render_explist')}}">Back to Experiment List</a>#}
{#        </div>#}
      </div>
    </div>

{#<div class = "content">#}
{#<form class="pure-form" name="swar">#}
{#        <h5><label for="state">Choose Instrument</label> #}
{#        <select name ="state" class="pure-input-2-3" onchange="check()">#}
{#            <option value = "1"></option>#}
{#            <option value = "2">Shehnai</option>#}
{#	    <option value = "3">Harmonium</option>#}
{#	    <option value = "4">Flute</option>#}
{#	    <option value = "5">Sitar</option>#}
{#</select></h5>#}
{#        </form>#}
{#</div>#}
	
<div id="Container">
<div id="layer">

{#<div class = "panel" id = "panel1">#}
{#<div class="pure-u-1-1 centering-div"> </div>#}
{#	<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtonic()">Play Tonic</button> </div>#}
{#	<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="stoptonic()">Stop Tonic</button> </div>#}
{#	<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone()">Play Tone</button> </div>#}
{##}


<br>
<br>



</div>
</div>
</div>

<div class = "right">
<a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=7)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a--><!--/button
</div>

</div> <!-- end .header -->

</div> <!-- end #main -->

{% endblock %}

{% block script %}
<script type="text/template" id="panel-template">
<aside style="background: #fff1ea; color:#111111>
  <div class="pure-u-1-1 centering-div"></div>
	<div class="pure-u-1-4 centering-div">
    <button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button>
  </div>
	<div class="pure-u-1-4 centering-div">
    <button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button>
  </div>
	<div class="pure-u-1-4 centering-div">
    <button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button>
  </div>
  <div class="pure-u-1-1 centering-div"><br></div>
</aside>
<aside style="background: #e5dcd9;">
<h3 style="color: #111111">Answer</h3>
</aside>
</script>

<script type="text/template" id="submit-btn-template">
  <aside style="background: #e5dcd9;">
   <div class="pure-u-1-1 centering-div"><br></div>
   <div class="pure-u-1 centering-div">
    <button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button>
  </div>
     </aside>
     <br>
            <aside style="background: #596999; color:#ffffff">
            <h3 style="color: #ffffff">Result</h3>
            <div style="font-size: 20pt, color:#ffffff;" id="answer"></div>
            <div class="pure-u-1-4 centering-div" style="font-size: 20pt, color:#ffffff;"></div>
            <div style="font-size: 20pt, color:#ffffff;" id="score"></div>
            <div class="pure-u-1-4 centering-div" style="font-size: 20pt, color:#ffffff;"></div>
            </aside>

            <br>

</script>

<script type="text/template" id="level-template">
<aside style="background: #e5dcd9;">
  <form class="pure-form" name="swar-choices">
    <label>
      <input type="radio" name="swar" value="Sa"> Sa &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="re"> re &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Re"> Re &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="ga"> ga &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Ga"> Ga &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Ma"> Ma &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Ma#"> Ma# &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Pa"> Pa &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="dha"> dha &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Dha"> Dha &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="ni"> ni &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Ni"> Ni &nbsp;
    </label>
    <label>
      <input type="radio" name="swar" value="Sa1"> Sa1 &nbsp;
    </label>
  </form>
</aside>
</script>

<script>
  window.onload = function() {
    init();
  };
</script>

{% endblock %}

